.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.sp1 {
  display: flex;
  flex: 1;
}
.header_nav {
  display: flex;
  justify-content: space-evenly;
  margin-right: 20px;
}
.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.header_title {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.header_title1 {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}